node_modules
platziverse-agent/node_modules
platziverse-api/node_modules
platziverse-db/node_modules
platziverse-mqtt/node_modules
platziverse-web/node_modules
platziverse-cli/node_modules
ssh
.vagrant
.DS_Store